<Body:>
    <div class="row rss-feed-container">
        {#each _page.posts as :post}
            <div class="{#if _page.user.columns}col-lg-6 col-md-6{/} rss-post-container">
                <div class="well rss-post">
                    <div class="pull-right rss-butons">
                        <div class="btn-group btn-group-sm">
                            {#if :post.category}
                                <span class="btn btn-default">{{ :post.category }}</span>
                            {/}
                            <button type="button" class="btn btn-success" title="Good" x-bind="click: feed.mark_good">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                            <button type="button" class="btn btn-primary" title="As read" x-bind="click: feed.mark_read">
                                <i class="glyphicon glyphicon-ok"></i>
                            </button>
                            <button type="button" class="btn btn-danger" title="Bad" x-bind="click: feed.mark_bad">
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                        </div>
                    </div>

                    <h2>
                        <a href="{{ :post.url }}" target="_blank">{{ :post.title }}</a>
                    </h2>

                    <div class="rss-post-text">{{unescaped :post.summary }}</div>
                </div>
            </div>
        {/}
        {#if not(_page.posts.length) }
            <div class="jumbotron">
                <h1>No posts for now</h1>
                <p class="lead">Please return later</p>
            </div>
        {/}
    </div>

