<Body:>
    <div class="jumbotron">
        <p class="text-center">
            <img src="/ff_icon.png"/>
        </p>
        <h1 class="text-success">OMG! It's filtering my feeds!</h1>

        <p class="lead">The only RSS aggregator which filters your feeds according to your needs</p>
        {#if _session.userId}
            <a class="btn btn-large btn-success" href="/subscriptions">
                <i class="glyphicon glyphicon-search"></i>
                Try it now
            </a>
        {else}
            <p>Please login through Twitter or Facebook account</p>
        {/}
    </div>

    <hr/>

    <div class="row marketing">
        <div class="col-lg-6 col-md-6">
            <h4>How it works?</h4>

            <p>
                While you surf your feeds and mark articles as "good" or "bad", we are creating and training a&nbsp;
                <a href="http://en.wikipedia.org/wiki/Naive_Bayes_classifier">Bayesian text classifier.</a>&ensp;
                When it's trained good enough, we use it to classify new articles for you.
            </p>

            <p>Voila.</p>
        </div>

        <div class="col-lg-6 col-md-6">
            <h4>What technologies do you use?</h4>

            <ul>
                <li><a href="http://derbyjs.com/">Derby.js</a> as a super-reactive service platform</li>
                <li><a href="https://github.com/NaturalNode/natural">Natural</a> as an outstanding text analyzer</li>
                <li><a href="http://www.mongodb.org/">Mongo</a> as a perfectly agile data base</li>
                <li><a href="http://redis.io/">Redis</a> as a lightining-fast data store</li>
                <li><a href="http://getbootstrap.com/">Bootstrap</a> as a beautiful styling solution</li>
                <li><a href="http://glyphicons.com/">Glyphicons</a> as a big icons pack, dude!</li>
                <li><a href="https://www.iconfinder.com/icons/130950/bullets_list_icon">Icon from Iconfinder </a>as a qick and dirty logo</li>
            </ul>
        </div>
    </div>
