<import: src="./home">
<import: src="./subscriptions">
<import: src="./feed">

<Head:>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/spacelab/bootstrap.min.css" type="text/css"/>
    <link rel="shortcut icon" href="/ff_favicon.ico" />

<Header:>
    <body class="{{dash($ns)}}">
    <ui:connectionAlert>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Feed Filter</a>
                </div>
                <ul class="nav navbar-nav">
                    {#if _session.userId}
                        <li><a href="/auth/logout">Logout</a></li>
                    {else}
                        <li><a>Enter with</a></li>
                        <li><a href="/auth/facebook">Facebook </a></li>
                        <li><a>or</a></li>
                        <li><a href="/auth/twitter">Twitter</a></li>
                    {/}
                </ul>

                {#if _session.userId}
                    <ul class="nav nav-pills navbar-nav navbar-right">
                        <app:navLink title="Train" href="/train" icon="book">
                        <app:navLink title="Update" href="/update" icon="refresh">
                        <app:navLink title="Subs" href="/subscriptions" icon="cog">
                        <app:navLink title="Feed{#if _page.posts } <sup class='badge text-success ff-posts-count'>{{ _page.posts.length }}</sup>{/}" href="/feed" icon="th-list">
                    </ul>
                {/}
            </div>
        </nav>
        <div class="content">
            <div class="container">

<Footer:>
    </div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; <a href="http://ilvar.ru">ilvar.ru</a> 2014</p>
            </div>
        </footer>


<Scripts:>
    <script src="/favico-0.3.4.min.js"></script>
    <script src="/sizzle.min.js"></script>

    <script>
        var favicon=new Favico({
            animation:'fade'
        });
        var posts_count = 0;
        setInterval(function() {
            if (Sizzle('.ff-posts-count').length) {
                var pc_cont = Sizzle('.ff-posts-count')[0];
                var new_posts_count = parseInt(pc_cont.innerHTML);
            } else {
                new_posts_count = 0;
            }
            if (new_posts_count != posts_count) {
                posts_count = new_posts_count;
                favicon.badge(new_posts_count);
            }
        }, 1000);
    </script>

<navLink:>
    <li class="{{#if equal($url, @href)}}active{{/}}">
        <a href="{{ @href }}">
            <i class="glyphicon glyphicon-{{ @icon }}"></i>
            {{ @title }}
        </a>
    </li>
