<Body:>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <form x-bind="submit: subscriptions.add">
                <h4>Add subscription</h4>
                <div class="form-group">
                    <label>URL</label>
                    <input type="url" class="form-control" value="{_page.newSub.url}" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add
                    </button>
                </div>
            </form>

            <hr/>
            <div>
                <h4>Display settings</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="{_page.user.columns}" />
                        Split feed into columns
                    </label>
                    <p class="help-block">for wide displays</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>URL</th>
                    <th style="width: 50px;"></th>
                </tr>
                </thead>
                <tbody>
                {#each _page.subscriptions as :sub}
                <tr>
                    <td>{{:sub.url}}</td>
                    <td>
                        <button class="btn btn-xs btn-danger" x-bind="click: subscriptions.remove">
                            <i class="glyphicon glyphicon-trash"></i>
                            Delete
                        </button>
                    </td>
                </tr>
                {/}
                </tbody>
            </table>
        </div>
    </div>
