body
  margin-top: 65px

.rss-columns-setup
  max-width: 150px

.rss-butons
  overflow: hidden;

  .btn
    font-family: Arial,sans-serif

    i
      margin-right: 0.3em

.rss-post-container
  display: inline-block
  float: none
  vertical-align: top

.rss-post
  overflow: hidden;

  .rss-post-text
    max-height: 200px
    overflow: hidden;

  h2
    margin-top: 0;

  img
    max-width: 150px;
    float: left;
    margin-right: 1em;

footer
  border-top: 1px solid #eee
  padding: 19px 0

i.glyphicon
  margin-right: 0.5em;

#posts_count
  display: none

.jumbotron
  text-align: center

